body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form .btn-cancel {
  margin-left: 5px;
}

form .form-btn {
  min-width: 80px;
}

table .btn-action {
  min-width: 50px;
}
